langgraph
uvicorn[standard]
python-dotenv
pydantic
fastapi
jinja2

langgraph
langgraph-checkpoint-postgres
langchain-core
langchain-groq
langchain-community
langchain-ollama
tavily-python

psycopg[binary]

google-genai
langgraph-sdk